<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.termuxlauncher">

    <!-- NUKLEÁRNÍ MOŽNOST: Úplné prolomení Package Visibility blokády -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <package android:name="com.termux" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Termux Launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        
        <service
            android:name=".ShortcutService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true"
            android:label="Termux Zkratka (Klávesnice)">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>
</manifest>
